PORT=3000
RATE_LIMIT=1
WS_FALLBACK=false
DEBUG_MODE=false
RTC_CONFIG=/etc/pairdrop/rtc-config.json
TZ=Etc/UTC
DONATION_BUTTON_ACTIVE=false
TWITTER_BUTTON_ACTIVE=false
MASTODON_BUTTON_ACTIVE=false
BLUESKY_BUTTON_ACTIVE=false
CUSTOM_BUTTON_ACTIVE=true
CUSTOM_BUTTON_LINK=${MUMBLE_SHARE_BASE_URL}mumble/
CUSTOM_BUTTON_TITLE=Mumble Share
PRIVACYPOLICY_BUTTON_ACTIVE=true
PRIVACYPOLICY_BUTTON_LINK=${MUMBLE_SHARE_BASE_URL}mumble/privacy.html
PRIVACYPOLICY_BUTTON_TITLE=Privacy
