{
  "sdpSemantics": "unified-plan",
  "iceServers": [
    {
      "urls": [
        "stun:${MUMBLE_SHARE_HOST}:3478"
      ]
    },
    {
      "urls": [
        "turn:${MUMBLE_SHARE_HOST}:3478?transport=udp",
        "turn:${MUMBLE_SHARE_HOST}:3478?transport=tcp",
        "turns:${MUMBLE_SHARE_HOST}:5349?transport=tcp"
      ],
      "username": "mumbleshare",
      "credential": "${TURN_PASSWORD}"
    }
  ],
  "iceCandidatePoolSize": 2
}
