listening-port=3478
tls-listening-port=5349
listening-ip=${MUMBLE_SHARE_PUBLIC_IP}
relay-ip=${MUMBLE_SHARE_PUBLIC_IP}
external-ip=${MUMBLE_SHARE_PUBLIC_IP}
min-port=49160
max-port=49200
fingerprint
lt-cred-mech
realm=${MUMBLE_SHARE_HOST}
server-name=${MUMBLE_SHARE_HOST}
user-quota=4
total-quota=20
max-bps=625000
bps-capacity=1500000
stale-nonce=600
no-multicast-peers
no-cli
no-tcp-relay
no-tlsv1
no-tlsv1_1
log-file=stdout
simple-log
cert=/etc/turnserver-certs/fullchain.pem
pkey=/etc/turnserver-certs/privkey.pem

# The deployed file adds:
# user=mumbleshare:<generated password>
